---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Cloudy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"uVDhOnKObK7536YdwX","slug":"uVDhOnKObK7536YdwX","url":"https:\/\/giphy.com\/gifs\/uVDhOnKObK7536YdwX","bitly_gif_url":"https:\/\/gph.is\/2pDdCEC","bitly_url":"https:\/\/gph.is\/2pDdCEC","embed_url":"https:\/\/giphy.com\/embed\/uVDhOnKObK7536YdwX","username":"","source":"https:\/\/www.reddit.com\/r\/gifs\/comments\/9m1v63\/queenstown_airport_landing\/","rating":"g","content_url":"","source_tld":"www.reddit.com","source_post_url":"https:\/\/www.reddit.com\/r\/gifs\/comments\/9m1v63\/queenstown_airport_landing\/","is_sticker":0,"import_datetime":"2018-10-07
        06:23:07","trending_datetime":"0000-00-00 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200_s.gif","width":"356","height":"200","size":"34068"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy_s.gif","width":"480","height":"270","size":"54432"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200w.gif","width":"200","height":"112","size":"2383675","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200w.mp4","mp4_size":"236610","webp":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200w.webp","webp_size":"465540"},"fixed_height_small_still":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100_s.gif","width":"178","height":"100","size":"10654"},"fixed_height_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200_d.gif","width":"356","height":"200","size":"185876","webp":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200_d.webp","webp_size":"31122"},"preview":{"width":"384","height":"216","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-preview.mp4","mp4_size":"32935"},"fixed_height_small":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100.gif","width":"178","height":"100","size":"1742132","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100.mp4","mp4_size":"220062","webp":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100.webp","webp_size":"396000"},"downsized_still":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-downsized_s.gif","width":"384","height":"216","size":"44615"},"downsized":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-downsized.gif","width":"384","height":"216","size":"1703880"},"downsized_large":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-downsized-large.gif","width":"480","height":"270","size":"4182833"},"fixed_width_small_still":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100w_s.gif","width":"100","height":"56","size":"4756"},"preview_webp":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-preview.webp","width":"261","height":"147","size":"49950"},"fixed_width_still":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200w_s.gif","width":"200","height":"112","size":"13599"},"fixed_width_small":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100w.gif","width":"100","height":"56","size":"692891","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100w.mp4","mp4_size":"42779","webp":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/100w.webp","webp_size":"185030"},"downsized_small":{"width":"216","height":"122","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-downsized-small.mp4","mp4_size":"148324"},"fixed_width_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200w_d.gif","width":"200","height":"112","size":"72603","webp":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200w_d.webp","webp_size":"13092"},"downsized_medium":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-downsized-medium.gif","width":"480","height":"270","size":"3271798"},"original":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy.gif","width":"480","height":"270","size":"9839752","frames":"225","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy.mp4","mp4_size":"945728","webp":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy.webp","webp_size":"1623388","hash":"fa4ddfe5ae515f86f9af93028bdeaec1"},"fixed_height":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200.gif","width":"356","height":"200","size":"6303999","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200.mp4","mp4_size":"596009","webp":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/200.webp","webp_size":"1070890"},"hd":{"width":"960","height":"540","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-hd.mp4","mp4_size":"2328323"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-loop.mp4","mp4_size":"886645"},"original_mp4":{"width":"480","height":"270","mp4":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy.mp4","mp4_size":"945728"},"preview_gif":{"url":"https:\/\/media3.giphy.com\/media\/uVDhOnKObK7536YdwX\/giphy-preview.gif","width":"164","height":"92","size":"49558"},"480w_still":{"url":"https:\/\/media2.giphy.com\/media\/uVDhOnKObK7536YdwX\/480w_s.jpg","width":"480","height":"270"}},"title":"cloudy
        queenstown airport GIF","_score":1311113.5,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f9f1a7a5a6d522ec9c824&event_type=GIF_SEARCH&gif_id=uVDhOnKObK7536YdwX&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f9f1a7a5a6d522ec9c824&event_type=GIF_SEARCH&gif_id=uVDhOnKObK7536YdwX&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c2f9f1a7a5a6d522ec9c824&event_type=GIF_SEARCH&gif_id=uVDhOnKObK7536YdwX&action_type=SENT"}}},{"type":"gif","id":"1uLQUtPLbJMQ0","slug":"sky-clouds-1uLQUtPLbJMQ0","url":"https:\/\/giphy.com\/gifs\/sky-clouds-1uLQUtPLbJMQ0","bitly_gif_url":"https:\/\/gph.is\/17cY36b","bitly_url":"https:\/\/gph.is\/17cY36b","embed_url":"https:\/\/giphy.com\/embed\/1uLQUtPLbJMQ0","username":"","source":"https:\/\/lishandspaceships.tumblr.com\[...]
